h1 {
  color: #E9967A;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

h2 {
  color: #FF1493;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
}

body {
  font-family: fantasy;
  font-size: 1em;
}

p.flashy {
  font-style: italic;
  font-family: sans-serif;
  color: #00BFFF;
}

p.best {
  color: #CD5C5C;
  font-weight: bolder;
}

p.smallprint {
  font-size: .8em
}

.special {
  font-style: italic;
}

.different {
  font-family: monospace;
  color: #00BFFF;
  font-size: 1.2em;
}
